body {
    width: 100vw;
    height: 100vh;
    padding: 0px;
    margin: 0px;
    background: linear-gradient(30deg, rgb(255, 251, 0) 0%, rgba(255, 136, 0, 0.872) 40%, rgba(238, 19, 227, 0.694) 70%, purple 100%);
    overflow: hidden;



}

#Kopfleiste {
    display: flex;
    flex-direction: row;
    background-image: url("text_box.png");
    background-color: rgba(0, 0, 0, 0.61);
    background-size: cover;
    background-position: center;
    text-align: center;
    color: rgb(144, 166, 246);
    width: 100vw;
    height: 80px;
    transition: all 0.5s ease;
    overflow: hidden;
    z-index: 10;
    padding: auto;



}

.Pizza {
    position: absolute;
    width: 50px;
    height: auto;
    animation: flyingPizzas 15s infinite linear;
    z-index: -1;

}

.Pizza img {
    width: 50px;
    height: auto;
    z-index: -1;
    opacity: 0.2;
}

@keyframes flyingPizzas {
    0% {
        transform: translateY(0vh) translateX(0vw) rotateZ(0deg);

    }


    100% {
        transform: translateY(109vh) translateX(27.3vw) rotateZ(360deg);

    }
}

#Kopfleiste:hover {
    height: 150px;
    padding: auto;
}

#Discord {
    display: flex;
    flex-direction: column;
    border: 2px solid beige;
    width: auto;
    color: rgb(144, 166, 246);
    height: auto;
    text-align: center;
    font-family: "Headfont";
    transition: color 0.5s ease, background-color 0.5s ease, border 0.5s ease;
    cursor: pointer;
    padding: 4px;
    text-decoration: underline;
    margin: auto;

}

#Discord:hover {
    background-color: rgb(144, 166, 246);
    color: black;
    border: 2px solid black;
    border-bottom: 1;

}

.cheese {
    width: 100vw;
    height: 90px;
    background-image: url("kase.png");
    background-repeat: repeat-x;
    background-size: 120px auto;
    border-top: 4px solid #d79a4a;
    border-top-style: solid;

}

@font-face {
    font-family: "Headfont";
    src: url("./Fonts/Audiowide-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Subhead";
    src: url("./Fonts/Barriecito-Regular.ttf") format("truetype");
}

.Headbtn {
    position: relative;
    display: inline-block;
    z-index: 3;
}

.Headbtn:hover .hidden-img {
    opacity: 1;
    z-index: -1;
    top: 100%;
}

.hidden-img {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    z-index: -1;
    opacity: 0;
    transition: all 0.3s ease;
    box-shadow: 0px 10px 0px black inset;

}

.button-container span {
    position: relative;
    z-index: -1;

}

h1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: "Headfont";
    color: rgb(63, 147, 151);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-size: 40px;
    z-index: 2;
    margin: 0px;
}

#babawagen {
    display: block;
    position: relative;
    justify-self: right;
    margin-right: 2vw;
    border-radius: 190px;
    background-color: #d79a4a;
    transition: all 0.3s ease;
    border: #905303 2px solid;
}

#babawagen:hover {
    transform: scale(1.2);
    background-color: #FFD700;
    border: #B8860B 2px solid;
}

.Textbox {
    display: inline-block;
    padding: 20px;
    font-family: "Subhead";
    border: #ffff01 3px solid;
    border-radius: 10px;
    background-image: url("n80w09oure771.jpg");
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
    transition: all 0.3s ease;
    transform-origin: center;
    margin: 20px;
    
}

.Textbox:hover {
    background-blend-mode: normal;
    border-color: #ff7700;
    text-shadow: 0px 1px 10px rgb(0, 0, 0);
    transform: scale(1.05);
    width: auto;

}

h2 {
    padding-top: 0px;
    font-family: "Subhead";
    color: #ff7700f3;
    font-size: 30px;
    text-shadow: 0px 1px 10px rgb(0, 0, 0);
}

li {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #e1ff00f3;
    font-size: 20px;
    text-shadow: 0.1px 2px 1px rgb(0, 0, 0);
}

.main {
    display: inline-flex;
    flex-direction: row;
    
    width: 100%;
    justify-content: center;
    
    margin-top: 10vh;
}

.ents {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #e1ff00f3;
    font-size: 28px;
    text-shadow: 0.1px 2px 1px rgb(0, 0, 0);
}
